!!!
html(ng-app='habitsApp')
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='description of your site')
    meta(name='author', content= "author of the site")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;")

    title= title

    link(rel='stylesheet', href='css/master.css')
  body
    != content

    script(src="js/vendor/jquery-1.10.2.js")
    script(src="js/vendor/lodash.js")
    script(src="js/vendor/angular.js")
    script(src="js/vendor/angular-route.js")
    script(src="js/vendor/angular-resource.js")
    script(src="js/vendor/devise.js")
    script(src='js/main.js')
